{% extends 'layout.html' %}

{% block body %}
 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.<br>
          It's built with default Bootstrap components and utilities with little customization.</p>
     {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary">Register</a>
     <a href="/login" class="btn btn-success">Login</a>
     {% endif %}
    </div>

{% endblock %}
